:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #7e7d7d 0%,#292a2b 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Black Han Sans', sans-serif;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: rgb(0,0,0);
  margin-bottom: 30px;
  font-size: 3.5rem;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(255,255,255);
}

.teclado {
  font-size: 40px;
  background: linear-gradient(to bottom, #252323 0%,#000000 100%);
  border-radius: 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 5px;
  box-shadow: 5px 5px 0 var(--cinza);
  color: var(--branca);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  cursor: pointer;
  height: 140px;
  font-size: 2em;
  line-height: 140px;
  text-align: center;
  width: 140px;
}

.tecla.ativa,
.tecla:active {
  background-color: rgb(41, 40, 40);
  border: 4px solid  rgb(41, 40, 40);
  box-shadow: 3px 3px 0 rgb(41, 40, 40) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px rgb(255,255,255);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 rgb(41, 40, 40) inset, 1px 1px 10px rgb(255,255,255);
}

@media screen and (max-width: 480px) {

  .teclado {
    background: linear-gradient(to bottom, #252323 0%,#000000 100%);
    border-radius: 5px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
  }
  
  .tecla {
    background-color: var(--branca);
    border-radius: 5px;
    box-shadow: 5px 5px 0 var(--cinza);
    color: var(--branca);
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    cursor: pointer;
    height: 70px;
    font-size: 0.9em;
    line-height: 70px;
    text-align: center;
    width: 70px;
  }

}
